body,html{
    height:100%;
    overflow: hidden;
    position: relative;
    font-size: 14px;
  	font-family: "Verdana","microsoft yahei";
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #333;

}
#side-bar{
	&>.el-menu{
		.el-submenu{
			.el-menu-item{
				height:40px;
				line-height:40px;
			}
			.el-submenu{
				.el-submenu__title{
					height:40px;
					line-height:40px;
				}
			}
		}
		&>.is-active{
			background-color: #3c4958;
			color: #ffffff;
			&>.el-submenu__title{
				background-color: #3c4958 !important;
			}
			&>.el-menu>.is-active{
				background-color: #455466 !important;
			  	color: rgba(255,255,255,0.8);
			}
		}
	}
  	.el-menu>.el-submenu>.el-menu>.el-submenu>.el-menu>.el-menu-item:hover{
	  	color: #43adfc;
	  	background-color: transparent !important;
	}
}
.el-tooltip__popper{
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  	border:none !important;
}
.el-badge__content{
  	line-height:16px;
  	padding:0 5px;
}
.el-table__header-wrapper th .cell{
  	font-weight: bold;
}
.alarm-num{
  background: darkred;
  display: inline-block;
  padding:0 5px;
  height:16px;
  line-height:16px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  color: #ffffff;
  margin-left:4px;
}

#main{
	position: absolute;
	left:200px;
	top:50px;
	background-color: #fff;
	right:0;
	bottom:0;
	overflow: auto;
	.main-wrapper{
		overflow: auto;
		position: relative;
		min-height:100%;
		padding:20px 20px 60px 20px;
		.my-crumbs{
			margin-bottom:20px;
		}
		.pagination{
			text-align: right;
			margin-top:20px;
		}
	}
	.search-submit{
		text-align: right;
	}
}

.fold-enter-active {
	animation-name: fold-in;
	animation-duration: .5s;
}
@keyframes fold-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity:1;
	}
}


::-webkit-scrollbar {
	width: 8px;
	height: 4px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
	background-color:rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
	background-color:rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
	background-color:rgba(0, 0, 0, 0.5);
}